<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  

</head>

<div>
<app-user-form (userAddedEvent) = "addUser($event)"></app-user-form>

<table class="table">

<thead>
<tr>
    <td>Name</td>
    <td>Email</td>
</tr>
</thead>
<tbody  class="list-group users">
  <tr *ngFor = "let user of users" [class.active]="currentUser == user" >
    <td>{{ user.name| uppercase}}</td>
    <td>{{ user.email }}</td>
 </tr> 
</tbody>
 
</table>
</div>