<h1>
  {{title}}
</h1>
<nav>
<a routerLink="/users" routerLinkActive="active" >Users</a> | 
<a routerLink="/posts" routerLinkActive="active">Posts</a>
</nav>

<!--<app-posts></app-posts>   -->
<router-outlet></router-outlet>

<!-- Routed views go here -->


