<div>
  <h3>Post list:</h3>
 
 <!--<i *ngIf="isLoading" class="fa fa-spinner fa-spin fa-3x"></i>-->
 <jce-spinner [visible] = "isLoading"></jce-spinner>
  <ul class="list-group posts">
        <li class="list-group-item" *ngFor = "let post of posts" 
          [class.active]="currentPost == post"
          (click)="select(post)" >
            <app-post [post] = post></app-post>          
        </li>
  </ul>
</div>